@import url(font.css);

:root {
    --RR: 'Rubik-Regular';
    --RL: 'Rubik-Light';
    --RS: 'Rubik-SemiBold';
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-nav__left {
    width: 75px;
    height: 50px;
}

.header-nav__list {
    display: flex;
    padding-left: 100px;
}

.header-nav__link {
    margin-left: 30px;
    color: #000;
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
    position: relative;
    transition: all 500ms;
}

.header-nav__link:hover {
    color: #000;
}

.header-nav__link:hover.header-nav__link::after {
    width: 100%;
}

.header-nav__link::after {
    margin-left: 30px;
    content: '';
    display: block;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all 500ms;
}

.header-nav__right {
    display: flex;
}

.header-nav__right-input {
    max-width: 216px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #000;
    background: #FFF;
    padding: 8px 0px 8px 12px;
}

.right-btn__text {
    color: #FFF;
    font-family: var(--RR);
    font-size: 12px;
    line-height: 14px;
    width: 74px;
    padding: 8px 16px 8px 17px;
    border-radius: 0px 10px 10px 0px;
    background: #000;
}

/* header-content start */


.header-content {
    flex-grow: 1;
    background: url(../images/headerbg.png) no-repeat center/cover;
    height: 100vh;
}

.header-content__title {
    color: #FFF;
    font-family: var(--RS);
    font-size: 59px;
    line-height: 70px;
    padding-top: 20px;
}

.header-content__text {
    color: #FFF;
    font-family: var(--RL);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 20px;
}

.header-content__center {
    padding-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header-content  end */


.header-end__content {
    display: flex;

}

.slide{
    padding-top: 20px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
   background: #181D28;
    border-radius: 4px;
    border: 1px solid #FFF;
    position: relative;
    transition: all 500ms;
}




.header-end__content-img {
    width: calc(150px / 1);
    height: 20vh;

    transition: all 500ms;
}

.header-end__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}

.slide-text {
    position: absolute;
    left: 20px;
  
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 400ms;

}

.slide.active h3 {
    opacity: 1;
}

.slide.active {
    width: 40%;
}